/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* border:1px solid gray; */
	box-sizing:border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	margin:0 10% 0 10%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
img {
	vertical-align:middle;
	display:inline-block;
}

nav > div {
	display:inline-block;
}

nav > div > div {
	display:inline-block;
	padding:0 0 0 0;
	margin: 5% 20px 5% 20px;
}

nav > img {
	margin-left:10%;
}

a {
	color:#A9A9A9;
	text-decoration:none;
	font-family:inherit;
}

a:hover {
	color:black;
}

section.headingSection {
	height:500px;
}

section.headingSection > div {
	width:49%;
}

section.headingSection > div > img {
	text-align:center;
	margin:0 10% 200px 10%;
}

div.heading {
	width:49%;
	margin:10% 0 10% 0;
}

div.heading > div {
	display:block;
	width:100%;
	text-align:center;
}

div.heading > div:last-child > div {
	border: 1px solid black;
	padding:5px 5px 5px 5px;
	width:150px;
	margin:20px auto 0 auto;
	vertical-align: middle;
}

h1 {
	font-size: 400%;
	margin-bottom:0px;
}

section > div {
	display:inline-block;
}

div.heading > div {
	display:inline-block;
}

div.lineOne, div.lineThree, div.lineFour {
	border-top: 1px black solid;
	padding-top:50px;
	width:100%;
}

div.lineOne > div {
	display:inline-block;
	width:49.81%;
}

div.imgDiv {
	width:100%;
}

img.middle-img {
	text-align:center;
	margin:20px auto 20px auto;
	display:block;
}

div.lineTwo {
	margin-bottom:20px;
}

div.lineTwo > div {
	display:inline-block;
	width:33.1%;
}

div.contactInfo {
	margin-bottom:20px;
}

div.copyright {
	text-align:center;
	display:block;
	margin: 30px 0 30px 0;
}